<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="fragment/head :: head">
    <head/>
<body>
<div th:insert="fragment/navlogin :: navlogin"></div>
<div class="container mt-3">
    <div class="card" style="width: 100%">
        <div class="card-header">
            <b>Подробное описание задачи</b>
        </div>
        <div class="card-body justify-content-center">
            <div class="row mb-3 ml-4">
                <div class="col-2 text-justify font-weight-bold">Задача</div>
                <div class="col-4 text-justify font-weight-bold">Подробное описание</div>
                <div class="col text-justify font-weight-bold">Дата создания</div>
                <div class="col text-justify font-weight-bold">Категории</div>
            </div>
            <div class="row mb-6 ml-4">
                <div class="col-2" th:text="${task.name}"></div>
                <div class="col-4 text-justify" th:text="${task.description}"></div>
                <div class="col text-justify" th:text="${#temporals.format(task.created, 'HH:mm dd.MM.yyyy')}"></div>
                <div class="col text-justify">
                    <ul th:each="category: ${task.categories}">
                        <li class="text-left" th:text="${category.name}"></li>
                    </ul>
                </div>
            </div>
            <div class="row mb-3 ml-4 mt-4">
                <div class="col-2 text-justify font-weight-bold">Пользователь</div>
                <div class="col-4 text-justify font-weight-bold">Приоритет</div>
                <div class="col text-justify font-weight-bold">Статус</div>
            </div>
            <div class="row mb-5 ml-4">
                <div class="col-2 text-justify" th:text="${task.user.name}"></div>
                <div class="col-4 text-justify" th:text="${task.priority.name}"></div>
                <div class="col text-justify">
                    <span th:if="${task.done == false}">Активно</span>
                    <span th:unless="${task.done == false}">Выполнено</span>
                </div>
            </div>
            <div th:if="${user.login} == ${task.user.login}">
                <div class="row mb-3 ml-4 mt-6">
                    <div class="col-6 text-justify font-weight-bold">Действия:</div>
                </div>
                <div class="row mb-4 ml-4 text-justify">
                    <div class="col-auto">
                        <form th:action="@{/taskDone}" method="get">
                            <input type="hidden" name="taskId" th:value="${task.id}"/>
                            <button type="submit" class="btn btn-secondary" style="width: 150px;">Выполнено</button>
                        </form>
                    </div>
                    <div class="col-auto">
                        <form th:action="@{/editTask}" method="get">
                            <input type="hidden" name="taskId" th:value="${task.id}"/>
                            <button type="submit" class="btn btn-secondary" style="width: 150px;">Редактировать</button>
                        </form>
                    </div>
                    <div class="col-auto">
                        <form th:action="@{/deleteTask}" method="get">
                            <input type="hidden" name="taskId" th:value="${task.id}"/>
                            <button type="submit" class="btn btn-secondary" style="width: 150px;">Удалить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>