<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div class="card-body" th:fragment="taskEditForm">
    <form th:action="@{/addOrUpdateTask}" th:object="${task}" method="post">
        <table class="table">
            <input type="hidden" name="id" th:field="*{id}"/>
            <tr>
                <td>Наименование :</td>
                <td><input class="form-control" type="text" th:field="*{name}" name="name" required/></td>
            </tr>
            <tr>
                <td>Описание :</td>
                <td><textarea class="form-control" th:field="*{description}" rows="8" maxlength="400"
                              name="description"
                              placeholder="Не больше 400 символов" required></textarea></td>
            </tr>
            <tr>
                <td>Статус задания :</td>
                <td><select class="custom-select" th:field="*{done}">
                    <option th:value="0" th:text="Активно"></option>
                    <option th:value="1" th:text="Выполнено"></option>
                </select></td>
            </tr>
            <tr>
                <td>Приоритет задания :</td>
                <td><select class="custom-select" th:field="*{priority.name}">
                    <option th:value="Высокий" th:text="Высокий"></option>
                    <option th:value="Средний" th:text="Средний"></option>
                    <option th:value="Низкий" th:text="Низкий"></option>
                </select></td>
            </tr>
            <tr>
                <td><input type="submit" class="btn btn-secondary" value="Сохранить"/>
            </tr>
        </table>
    </form>
</div>
</html>