<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div class="card-body" th:fragment="taskEditForm">
    <form th:action="@{/addOrUpdateTask}" th:object="${task}" method="post">
        <table class="table">
            <input type="hidden" name="id" th:field="*{id}"/>
            <tr>
                <td><label for="name">Наименование :</label></td>
                <td><input class="form-control" type="text" th:field="*{name}" name="name" id="name"/></td>
            </tr>
            <tr>
                <td><label for="description">Описание :</label></td>
                <td><textarea class="form-control" th:field="*{description}" rows="8" maxlength="400"
                              name="description"
                              placeholder="Не больше 400 символов" id="description"></textarea></td>
            </tr>
            <tr>
                <td><label for="done">Статус задания :</label></td>
                <td><select class="custom-select" th:field="*{done}" id="done">
                    <option th:value="0" th:text="Активно"></option>
                    <option th:value="1" th:text="Выполнено"></option>
                </select></td>
            </tr>
            <tr>
                <td><label for="priority">Приоритет задания :</label></td>
                <td><select class="custom-select" th:field="*{priority.name}" id="priority">
                    <option th:value="Высокий" th:text="Высокий"></option>
                    <option th:value="Средний" th:text="Средний"></option>
                    <option th:value="Низкий" th:text="Низкий"></option>
                </select></td>
            </tr>
            <tr>
                <td><label for="categories">Категории :</label></td>
                <td>
                    <select class="form-control" style="width: 200px;" multiple id="categories" name="categoryIds" required>
                        <option th:each="category : ${categories}"
                                th:value="${category.id}"
                                th:text="${category.name}">
                        </option>
                    </select>
            </tr>
            <tr>
                <td><input type="submit" class="btn btn-secondary" value="Сохранить"/>
            </tr>
        </table>
    </form>
</div>
</html>