<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="fragment/head :: head"> </head>
<body>
<div th:insert="fragment/navbefore :: navbefore"></div>
<div class="container  pt-3">
    <div class="row ml-4">
        <div class="card" style="width: 500px">
            <div class="card-header">
                Создать новый профиль
            </div>
            <div class="card-body">
                <div style="color:#ff0000;" th:if="${param.password}">
                    <div th:text="${errorMessage}"></div>
                </div>
                <div style="color:#ff0000;" th:if="${param.account}">
                    <div th:text="${errorMessage}"></div>
                </div>
                <form th:action="@{/registration}" method="POST" th:object="${user}">
                    <div class="form-group">
                        <label for="name">Ваше имя</label>
                        <input type="text" class="form-control" name="name" th:field="*{name}" id="name">
                        <span style="color:#ff0000;"
                              th:if="${#fields.hasErrors('name')}"
                              th:errors="*{name}">UserName Error</span>
                    </div>
                    <div class="form-group">
                        <label for="login">Почта (аккаунт)</label>
                        <input type="email" class="form-control" name="email" th:field="*{login}" id="login">
                        <span style="color:#ff0000;"
                              th:if="${#fields.hasErrors('login')}"
                              th:errors="*{login}">Email Error</span>
                    </div>
                    <div class="form-group">
                        <label for="password">Пароль</label>
                        <input type="password" class="form-control" name="password" th:field="*{password}" id="password">
                        <span style="color:#ff0000;"
                              th:if="${#fields.hasErrors('password')}"
                              th:errors="*{password}">Password Error</span>
                    </div>
                    <div class="form-group">
                        <label for="repassword">Повторите пароль</label>
                        <input type="password" class="form-control" name="repassword" id="repassword">
                    </div>
                    <button type="submit" class="btn btn-secondary">Продолжить</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>